.card {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 width: 300px;
 height: 400px;
 margin: 8px;
 background: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
 width: 100%;
}

button{
 background: #fe4a49;
 color: #fed766;
 padding: 8px;
 border-radius: 4px;
}

.button-text{
  color: white;
  text-decoration: none;
}

.card-desc{
 padding: 8px;
}