@import url("container.css");
@import url("card.css");
@import url("content.css");

  .header{
    grid-area: hd;
    text-align: center;
    background: #2ab7ca;
  }

  .footer{
    grid-area: ft;
  }

  .sidebar{
    grid-area: sd;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 20px;
    font-style:italic
  }

  .footer{
   text-align: center;
   background: #fed766;
   padding: 16px;
   margin-top:16px;
  }